{% extends 'base.html' %} 
{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{object.model}}'s</span> Description</h1>
{% else %}
<h1>Car Collector Addition</h1>
{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="POST">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_p }}
  </table>
  <input type="submit" value="submit" class="btn" />
  <a href="{% url 'detail' car.id %}" class="btn">Back To Details</a>
</form>

{% endblock %}
