{% extends 'base.html' %} 
{% block content %}

<h1 class="center blue-text">The Details</h1>

<div class="card" style="margin: 25px;">
  <div class="card-content" style="margin: 5px;">
    <span class="card-title" style="color: red;">{{ car.model }}</span>
    <p>Make: {{ car.make }}</p>
    <p>Description: {{ car.description|linebreaks }}</p>
    {% if car.year > 0 %}
    <p>Year: {{ car.year }}</p>
    {% else %}
    <p>Year: Not Specified</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'update' car.id %}">Edit</a>
    <a href="{% url 'delete' car.id %}">Delete</a>
    <a href="{% url 'idx' %}">Back To Garage</a>
  </div>
</div>

{% endblock %}
