{% extends 'base.html' %}

{% block content %}
  <h1 class="center blue-text">The GearGarage</h1>
  <hr>
<div class="center" style="color: rgb(0, 0, 0); margin: 50px;">
  <h5>Welcome to The GearGarage, Where Every Car Tells a Story!</h5>

    <p>From the rhythmic heartbeats of exotic sports cars to the mighty revs of powerful tuners, at The GearGarage, we bridge the world of automotive beauty and raw power, creating a universe where every vehicle finds its stage.</p>

    <p>Beyond just an app, The GearGarage is your digital garage, crafted for enthusiasts by enthusiasts. Dive into a space that understands the allure of a Lamborghini's sleek lines and the thrill of a customized Evo's launch control. Whether you're an avid collector, cherishing memories with vintage classics, or an enthusiast with a penchant for tuners or exotic super cars, we've built this platform keeping you at its core.</p>

    <h5>Our Mission</h5>

    <p>Driven by passion and fueled by our community, our mission merges the simple with the profound: to offer a seamless and immersive platform where automotive aficionados can catalog, showcase, and immerse themselves in their vehicular journeys. Every car, be it a timeless vintage or a modded beast, holds a narrative. At The GearGarage, we ensure these narratives are not just stored but celebrated. Your collection isn't just a compilation, it's an anthology of your automotive adventures.</p>

  <!-- <footer>&copy; 2023 The GearGarage</footer> -->
</div>
{% endblock %}
  
