{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The GearGarage 🏎️</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav class="blue">
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;The GearGarage</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'create' %}">Add Car</a></li>
          <li><a href="{% url 'idx' %}">My Garage</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container white">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer blue">
    <div class="center">&copy; 2023 The GearGarage &nbsp;</div>
  </footer>
</body>
</html>